* {
    font-family: "Poppins", sans-serif
}


body {
    background-color: white;
    color: #0E2431;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.4);
    z-index: 100;
}
.title-d {

    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.title {
    border-bottom: 4px solid #FF66C4;
    border-radius: 3px;
    margin-bottom: 50px;
    margin-top: 100px;
}


.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 5%;
    max-width: 65%;
    gap: 70px;
}

.idPerfil {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.name {
    font-size: 25px;
    color: #0E2431;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: default;
}

.name:hover {
    color: #FF66C4;
}

.nav-bar {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav-bar a {
    font-size: 18px;
    color: #0E2431;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}

.nav-bar a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0.20rem;
    left: 0;
    top: 120%;
    background-color: #FF66C4;
    border-radius: 10px;
    transition: 0.3s;
} 

.nav-bar a:hover::after {
    width: 100%;
} 

.nav-bar a.active::after {
    width: 100%;
} 
